.buttonsContainer {
    display: flex;
    justify-content: end;
    gap: .5rem;
}

.buttonsContainer~.titleContainer {
    margin-top: .8rem;
}

.titleContainer {
    text-decoration: none;
    color: var(--foreground);
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    &>div:first-child {
        aspect-ratio: 1/1;
        border: 1px solid var(--ring);
        box-shadow: 0 0 5px var(--ring);

        height: 4rem;
        border-radius: .5rem;
        padding: .5rem;


        &>svg {
            filter: drop-shadow(0 0 5px var(--ring));
            animation: scale 1.5s infinite;

            & line {
                stroke: var(--ring);
            }

            & path {
                stroke: var(--ring);
            }
        }
    }
}