.error {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;

    background:
        linear-gradient(var(--background), var(--background)) padding-box,
        linear-gradient(to bottom, var(--secondary), rgba(0, 0, 0, 0)) border-box;
    border: 1px solid transparent;

    h2~p {
        margin-top: .2rem;
    }


    &>p {
        opacity: .5;
    }

    & > button{
        margin-top: 1rem;
        
    }
}